@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Quicksand";
  
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at top left, rgb(240, 235, 235) 0%, rgb(229, 102, 102) 100%);
  background-repeat: no-repeat;
}
.container {
  display: grid;
  place-content: center center;
  width: 100vw;
}